<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Static Example</title>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

</head>
<body>
  
    
    

  <form action ="AddG" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="text">headings</label> 
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-header"></i>
          </div>
        </div> 
        <input id="text" name="text" type="text" required="required" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="textarea">body</label> 
      <textarea id="textarea" name="textarea" cols="40" rows="9" required="required" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="text1">Date and Time</label> 
      <div class="input-group">
        <input id="datetimepicker" type="text"  required="required"  class="form-control"> 
        <div class="input-group-append">
          <div class="input-group-text">
            <i class="fa fa-calendar-times-o"></i>
          </div>
        </div>
      </div>
    </div> 
    <div class="form-group">
      <button name="submit" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>








<script>
$(function () {
  $("#datetimepicker").datetimepicker();
});
</script>


   
</body>
</html>